<div>
    <nav class="navbar">
        <div class="logo-wrapper">
            <h1>Tasks</h1>
        </div>

        <!-- <ul>
            <li>Register</li>
            <li>Login</li>
        </ul> -->

        <div class="user" (click)="hideModal = !hideModal">
	    {{ user.charAt(0) | uppercase }}
        </div>
    </nav>

    <div class="modal" [ngClass]="{'hide' : hideModal}">
        <div class="modal-header">
            {{ user }}
        </div>
        <div class="modal-body">
            <button (click)="logout()">Logout</button>
        </div>
    </div>


    <div class="tasks">
        <table>
            <div class="task" *ngFor="let task of tasks">
                <tr>
                    <td class="task-name">{{task.name}}</td>
                    <div class="buttons">
                        <td><button class="button" title="Editar"><fa-icon [icon]="editIcon"></fa-icon></button></td>
                        <td><button class="button" title="Excluir"><fa-icon [icon]="trashIcon"></fa-icon></button></td>
                        <td><button class="button" title="Completar"><fa-icon [icon]="checkIcon"></fa-icon></button></td>
                    </div>
                </tr>
            </div>
        </table>
    </div>

</div>
