<div class="login">

    <form [formGroup]="loginForm" class="form" (ngSubmit)="login()">
        <h2>Login</h2>

        <div>
            <input type="email" placeholder="Email" formControlName="email">

            <div *ngIf="email.invalid && (email.dirty || email.touched)"
    class="text-error">

                <div *ngIf="email.errors?.required">
                    Email é obrigatório
                </div>

                <div *ngIf="email.errors?.email">
                    Email invalido
                </div>
            </div>
        </div>
        <div class="input-wrapper">
            <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password">
            <fa-icon 
                class="input-icon" 
                [icon]="showPassword ? faEye : faEyeSlash"
                (click)="showPassword = !showPassword"
            ></fa-icon>

            <div *ngIf="password.invalid && (password.dirty || password.touched)"
    class="text-error">

                <div *ngIf="password.errors?.required">
                    Senha é obrigatória
                </div>
            </div>
        </div>

        <div *ngIf="error" class="text-error">
            {{ error }}
        </div>

        <p class="noaccount">Não tem uma conta? <a href="/register">Registrar</a></p>

        <button class="button button-main button-full">Logar</button>
    </form>
    
</div>